.home {
    height: 100%;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.userCards {
    padding: 15px 0px;
    margin: 0px;
    max-height: 750px;
    width: 100%;
    overflow: auto;
    /* height: 750px; */
    flex-grow: 1; 
}

.downloadrequest {
    height: 100px;
}

.downloadrequestpaper {
    height: 100%;
    padding: 0px 20px;
}